.field-focus:focus{
    border-color: #9400FF !important;
}
.reg-focus:focus{
    border-color: #9400FF !important;
}

.field-focus::placeholder {
    color: #B6BBC4 !important;
}

.reg-focus::placeholder{
    color: #A9A9A9 !important;
}


.custom-buttun:hover{
    background-color:white !important;
}

.custom-buttun:active{
    border : 3px solid #9400FF !important;
}

.login-form{
    width: 25vw;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px 25px;
    height: 40vh;
    border-radius: 20px;
    position: relative;
}

.reg-form{
    width: 40vw;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px 30px;
    height: 55vh;
    border-radius: 20px;
    position: relative;
}


@media (min-width: 768px) and (max-width: 1024px) {
	.login-form{
        width: 55vw;
        color: white;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 15px 25px;
        height: 34vh;
        border-radius: 20px;
        position: relative;
    }
    
    .reg-form{
        width: 75vw;
        color: white;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 15px 30px;
        height: 44vh;
        border-radius: 20px;
        position: relative;
    }
    
}
  
@media (max-width: 760px) {
    .login-form{
        width: 88vw;
        color: white;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 15px 25px;
        height: 40vh;
        border-radius: 20px;
        position: relative;
    }
    
    .reg-form{
        width: 90vw;
        color: white;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 15px 15px;
        height: 60vh;
        border-radius: 20px;
        position: relative;
    }
}